@import "variables";
@import "mixins";

@import 'header';
@import "body";
@import "sidebar";
@import "footer";

body {
	background: {
		image: url(../img/shattered.png);
		repeat: repeat;
	}
}

a {
	color: $default-link-color;
	text-decoration: none;
}

#wrapper {
	width: $site-width;
	margin: 2em auto;
}
